#container1 {
    border: 2px dashed rgb(10, 10, 10);
    position: relative;
   
}

#container2{
    border: 2px dashed rgb(10, 10, 10);
    position: relative;
    top: 50px;
}

#container3{
    border: 2px dashed rgb(10, 10, 10);
    position: relative;
    top: 120px;
}

#container4{
    border: 2px dashed rgb(10, 10, 10);
    position: relative;
    top: 170px
}

#container5{
    border: 2px dashed rgb(10, 10, 10);
    position: relative;
    top: 220px;
}

#container6{
    border: 2px dashed rgb(10, 10, 10);
    position: relative;
    top: 270px;
}

#container7{
    border: 2px dashed rgb(10, 10, 10);
    position: relative;
    top: 320px;
}

#container8{
    border: 2px dashed rgb(10, 10, 10);
    position: relative;
    top: 370px;
}

#container9{
    border: 2px dashed rgb(10, 10, 10);
    position: relative;
    top: 420px;

}